[submodule "godot-cpp"]
    path = godot-cpp
    url = https://github.com/godotengine/godot-cpp.git
    branch = 4.2
[submodule "doctest"]
	path = doctest
	url = https://github.com/doctest/doctest.git
[submodule "behaviour_tree_GDE"]
	path = behaviour_tree_GDE
	url = https://github.com/alemaki/behaviour_tree_GDE.git
